.DS_Store
.idea
.phpunit.result.cache
.phpunit.cache
.vscode
build
composer.lock
coverage
docs
node_modules
phpunit.xml
phpstan.neon
testbench.yaml
vendor
*.bkp
/storage

###

.husky/_/
reports/
.tsbuildinfo
*.tsbuildinfo
/build
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

####

/dist
/storage/export
/public/bakugan.*.json
/public/*.pro-m.json
/public/bakugan.json
/resources/types/generated*.ts

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed

